@{
    ViewBag.Title = "Pagina Principal";
}

<h2>Pagina Inicial</h2>

<p> Opções </p>

@Html.ActionLink("Cadastrar Sindicato", "Sindicato", "Cadastros")
<p></p>
@Html.ActionLink("Sobre", "Sobre","Home");

