@model IEnumerable<Aplicacao.dto.DtoSindicato>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Funcionario";
}
<br />
<h2>Funcionarios (<a href="javascript:;" id="openFrmCadastrarfuncionario">Cadastrar Novo</a>)</h2> <br />
<table class="grid">
    <thead>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Email</td>
            <td>Setor/Área - Cargo</td>
            <td>Empresa</td>
            <td>Ações</td>
        </tr>
    </thead>
    <tbody id="lista">
    </tbody>
</table>

