@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Pagina Principal";
}
<div class="questionario">
    <form id="Questionario" name="Questionario">
		<div class="header">
			<b>SINDICATO</b>: SETPES<br/>
			<b>EMPRESA</b>: VIAÇÃO FLECHA BRANCA LTDA.<br/>
			<b>MATRÍCULA</b>: <br/>
			<b>FUNCIONÁRIO</b>:<br/>
			<b>SETOR/ÁREA</b>:<br/>
			<b>CARGO</b>:
			<p>
			<b>Pesquisa - Perfil do Cenário de Transporte Rodoviário 2013/14</b><br/><br/>
			A Fetransportes está realizando uma pesquisa com as empresas de transportes e logística do Espírito Santo associadas aos sindicatos GVBus, Transcares e Setpes.
			O objetivo é formar um banco de dados com informações sobre os trabalhadores/colaboradores do setor e, para tanto, preparamos um questionário que demanda poucos minutos para ser preenchido.
			Agradecemos sua disponibilidade e informamos que todas as informações serão tratadas de modo estritamente confidencial.
			Os resultados serão apresentados aos sindicatos, às diretorias das empresas e ao SEST SENAT/ES com intuito de estabelecer ações relacionadas à capacitação e programas de saúde para empresa e colaboradores.
			Em caso de dúvida, favor entrar em contato com o RH da sua empresa.
			Desde já agradecemos a sua colaboração.</p>

             Empresa:<select name="empresa" size="1"><option>Selecionar...</option></select>
        Funcionário:<select name="funcionario" size="1"><option>Selecionar...</option></select>
		</div>	
       

		<div class="pergunta">
			<span class="perg">1) Sexo</span><br/>
			<span class="resp">
				a) <input type="radio" name="escolha_p1" value="M"/> Masculino <br/>
				b) <input type="radio" name="escolha_p1" value="F"/> Feminino <br/>
			</span>
		</div>

		<div class="pergunta">
			<span class="perg"> 2) Deficiência Física</span><br/>
			<span class="resp">
				a) <input type="radio" name="escolha_p2" value="S"/> Sim <br/>
				b) <input type="radio" name="escolha_p2" value="N"/> Não <br/>
			</span>
		</div>	

		<div class="pergunta">
			<span class="perg">3) Tipo</span><br/>
			<span class="resp">
				a) <input type="radio" name="escolha_p3" value="S"/> Auditiva <br/>
				b) <input type="radio" name="escolha_p3" value="N"/> Física <br/>
				c) <input type="radio" name="escolha_p3" value="N"/> Mental <br/>
				d) <input type="radio" name="escolha_p3" value="N"/> Visual <br/>
				e) <input type="radio" name="escolha_p3" value="N"/> Oral <br/>
				f)&nbsp; <input type="radio" name="escolha_p3" value="N"/> Não possuo deficiência física. <br/>
			</span>
		</div>

		<div class="pergunta">
			<span class="perg">4) Idade</span><br/>
			<span class="resp">
				a) <input type="radio" name="escolha_p4" value="S"/> Até 25 anos <br/>
				b) <input type="radio" name="escolha_p4" value="N"/> De 26 a 32 anos <br/>
				c) <input type="radio" name="escolha_p4" value="N"/> De 33 a 40 anos <br/>
				d) <input type="radio" name="escolha_p4" value="N"/> De 41 a 50 anos <br/>
				e) <input type="radio" name="escolha_p4" value="N"/> De 51 a 60 anos <br/>
				f)&nbsp; <input type="radio" name="escolha_p4" value="N"/> Acima de 60 anos <br/>
			</span>
		</div>

		<div class="pergunta">
			<span class="perg">5) Estado Civil</span><br/>
			<span class="resp">
				a) <input type="radio" name="escolha_p5" value="S"/> Solteiro(a) <br/>
				b) <input type="radio" name="escolha_p5" value="N"/> Casado(a) <br/>
				c) <input type="radio" name="escolha_p5" value="N"/> Separado(a) <br/>
				d) <input type="radio" name="escolha_p5" value="N"/> Divorciado(a) <br/>
				e) <input type="radio" name="escolha_p5" value="N"/> Viúvo(a) <br/>
				f)&nbsp; <input type="radio" name="escolha_p5" value="N"/> Mora com companheiro(a) <br/>
			</span>
		</div>

		<div class="pergunta">
			<span class="perg">6) Filhos</span><br/>
			<span class="resp">
				a) <input type="radio" name="escolha_p6" value="S"/> Não possui filhos <br/>
				b) <input type="radio" name="escolha_p6" value="N"/> De 1 a 2 filhos <br/>
				c) <input type="radio" name="escolha_p6" value="N"/> De 3 a 4 filhos <br/>
				d) <input type="radio" name="escolha_p6" value="N"/> 5 ou mais fihos <br/>
			</span>
		</div>	

		<div class="pergunta">
			<span class="perg">7) Qual seu peso?</span><br/>
			<span class="resp">
				a) <input type="radio" value="S"/> ??? <br/>
			</span>
		</div>

		<div class="pergunta">
			<span class="perg">8) Qual sua altura(cm)?</span><br/>
			<span class="resp">
				a) <input type="radio" value="S"/> ??? <br/>
			</span>
		</div>

		<div class="pergunta">
			<span class="perg">9) Qual cidade você mora?</span><br/>
			<span class="resp">
				a) <input type="radio" value="S"/> ??? <br/>
			</span>
		</div>	

		<div class="pergunta">
			<span class="perg">10) Há quanto tempo trabalha na empresa?</span><br/>
			<span class="resp">
				a) <input type="radio" name="escolha_p10" value="S"/> De 0 a 1 ano <br/>
				b) <input type="radio" name="escolha_p10" value="N"/> De 2 a 4 anos <br/>
				c) <input type="radio" name="escolha_p10" value="N"/> De 5 a 8 anos <br/>
				d) <input type="radio" name="escolha_p10" value="N"/> Acima de 8 anos <br/>
			</span>
		</div>
		
		<div class="pergunta">
			<span class="perg">11) Escolaridade:</span><br/>
			<span class="resp">
				a) <input type="radio" name="escolha_p11" value="S"/> Ensino Fundamental Incompleto (1º grau)<br/>
				b) <input type="radio" name="escolha_p11" value="S"/> Ensino Fundamental Completo (1º grau)<br/>
				c) <input type="radio" name="escolha_p11" value="S"/> Ensino Médio Incompleto (2º grau)<br/>
				d) <input type="radio" name="escolha_p11" value="S"/> Ensino Médio Completo (2º grau)<br/>
				e) <input type="radio" name="escolha_p11" value="S"/> Ensino Superior Incompleto<br/>
				f)&nbsp; <input type="radio" name="escolha_p11" value="S"/> Ensino Superior Completo<br/>
				g) <input type="radio" name="escolha_p11" value="S"/> Pós graduação/MBA<br/>
				h) <input type="radio" name="escolha_p11" value="S"/> Mestrado<br/>
				i) <input type="radio" name="escolha_p11" value="S"/> Doutorado<br/>
			</span>
		</div>
		
		<div class="pergunta">
			<span class="perg">12) Participou de algum treinamento nos últimos 2 (dois) anos?</span><br/>
			<span class="resp">
				a) <input type="radio" name="escolha_p12" value="S"/> Não participei<br/>
				b) <input type="radio" name="escolha_p12" value="S"/> Sim, pago pela empresa<br/>
				c) <input type="radio" name="escolha_p12" value="S"/> Sim, por minha conta<br/>
				d) <input type="radio" name="escolha_p12" value="S"/> Sim, parte pago por mim e parte pago pela empresa<br/>
			</span>
		</div>
		
		<div class="pergunta">
			<span class="perg">13) Se você é fumante, quantos cigarros você fuma por dia?</span><br/>
			<span class="resp">
				a) <input type="radio" name="escolha_p13" value="S"/> Não sou fumante<br/>
				b) <input type="radio" name="escolha_p13" value="S"/> Menos de 5 cigarros<br/>
				c) <input type="radio" name="escolha_p13" value="S"/> De 5 a 14 cigarros<br/>
				d) <input type="radio" name="escolha_p13" value="S"/> De 15 a 20 cigarros<br/>
				e) <input type="radio" name="escolha_p13" value="S"/> Mais de 20 cigarros<br/>
			</span>
		</div>
			
		<div class="pergunta">
			<span class="perg">14) Em uma semana normal, quantas “doses” de bebidas alcoólicas você bebe? (1 dose = ½ garrafa de cerveja, 1 copo de vinho ou 1 dose de uísque/conhaque/cachaça):</span><br/>
			<span class="resp">
				a) <input type="radio" name="escolha_p14" value="S"/> Não bebo<br/>
				b) <input type="radio" name="escolha_p14" value="S"/> De 1 a 4 doses<br/>
				c) <input type="radio" name="escolha_p14" value="S"/> De 5 a 9 doses<br/>
				d) <input type="radio" name="escolha_p14" value="S"/> De 10 a 13 doses<br/>
				e) <input type="radio" name="escolha_p14" value="S"/> 14 doses ou mais<br/>
			</span>
		</div>
			
		<div class="pergunta">
			<span class="perg">15) Marque abaixo qual (is) doença (s) você apresenta atualmente:</span><br/>
			<span class="resp">
				a) <input type="radio" name="escolha_p15" value="S"/> Nenhuma doença<br/>
				b) <input type="radio" name="escolha_p15" value="S"/> Diabetes	<br/>
				c) <input type="radio" name="escolha_p15" value="S"/> Colesterol alto<br/>
				d) <input type="radio" name="escolha_p15" value="S"/> Asma/bronquite/rinite<br/>
				e) <input type="radio" name="escolha_p15" value="S"/> Pressão alta<br/>
				f)&nbsp; <input type="radio" name="escolha_p15" value="S"/> Triglicerídios altos<br/> 				
				g) <input type="radio" name="escolha_p15" value="S"/> Doenças da tireóide<br/>
				h) <input type="radio" name="escolha_p15" value="S"/> Câncer<br/>
				i)&nbsp; <input type="radio" name="escolha_p15" value="S"/>  Doenças cardíacas e circulatórias<br/>
			</span>
		</div>
			
		<div class="pergunta">
			<span class="perg">16) Seus familiares (pai, mãe, irmãos, avós) apresentam ou faleceram por algumas das doenças abaixo:</span><br/>
			<span class="resp">
				a) <input type="checkbox" name="escolha_p17" value="S"/> Nenhuma doença<br/>
				b) <input type="checkbox" name="escolha_p17" value="S"/> Diabetes<br/>					
				c) <input type="checkbox" name="escolha_p17" value="S"/> Colesterol alto<br/>
				d) <input type="checkbox" name="escolha_p17" value="S"/> Asma/bronquite/rinite<br/>
				e) <input type="checkbox" name="escolha_p17 value="S"/> Pressão alta<br/>
				f)&nbsp; <input type="checkbox" name="escolha_p17" value="S"/> Triglicerídios altos<br/>
				g) <input type="checkbox" name="escolha_p17" value="S"/> Doenças da tireóide<br/>
				h) <input type="checkbox" name="escolha_p17" value="S"/> Câncer<br/>
				i)&nbsp; <input type="checkbox" name="escolha_p17" value="S"/> Doenças cardíacas e circulatórias<br/>
			</span>
		</div>
				
		<div class="pergunta">
			<span class="perg">17) Você pratica exercícios físicos regularmente?</span><br/>
			<span class="resp">
				a) <input type="radio" name="escolha_p18" value="S"/> Todos os dias<br/>
				b) <input type="radio" name="escolha_p18" value="S"/> No mínimo 3 vezes na semana<br/>
				c) <input type="radio" name="escolha_p18" value="S"/> Raramente<br/>
				d) <input type="radio" name="escolha_p18" value="S"/> Não pratico exercícios físicos</br>	
			</span>
		</div>
				
		<div class="pergunta">
			<span class="perg">18) Consome carne gordurosa em três ou mais dias da semana?</span><br/>
			<span class="resp">	
				a) <input type="radio" name="escolha_p19" value="S"/> Sim<br/>
				b) <input type="radio" name="escolha_p19" value="S"/> Não</br>
			</span>
		</div>
				
		<div class="pergunta">
			<span class="perg">19) Consome frutas e legumes em três ou mais dias da semana?</span><br/>
			<span class="resp">
				a) <input type="radio" name="escolha_p20" value="S"/> Sim<br/>
				b) <input type="radio" name="escolha_p20" value="S"/> Não<br/>		
			</span>
		</div>
				
		<div class="pergunta">
			<span class="perg">20) Consome peixe pelo menos uma vez por semana?</span><br/>
			<span class="resp">
				a) <input type="radio" name="escolha_p21" value="S"/> Sim<br/>
				b) <input type="radio" name="escolha_p21" value="S"/> Não<br/>	
			</span>
		</div>
			
		<div class="pergunta">
			<span class="perg">21) Toma regularmente refrigerante?</span><br/>
			<span class="resp">
				a) <input type="radio" name="escolha_p22" value="S"/> Sim<br/>
				b) <input type="radio" name="escolha_p22" value="S"/> Não</br>
			</span>
		</div>
			
		<div class="pergunta">
			<span class="perg">22) Você utiliza a estrutura do SEST/SENAT?</span><br/>
			<span class="resp">
				a) <input type="radio" name="escolha_p23" value="S"/> Não conheço<br/>
				b) <input type="radio" name="escolha_p23" value="S"/> Não utilizo<br/>
				c) <input type="radio" name="escolha_p23" value="S"/> Sim utilizo<br/>
			</span>
		</div>
			
		<div class="pergunta">
			<span class="perg">23) Para qual finalidade você utiliza a estrutura do SEST SENAT?</span><br/>
			<span class="resp">
				a) <input type="checkbox" name="escolha_p24" value="S"/> Lazer<br/>
				b) <input type="checkbox" name="escolha_p24" value="S"/> Serviços médicos<br/>	
				c) <input type="checkbox" name="escolha_p24" value="S"/> Serviços odontológicos<br/>
				d) <input type="checkbox" name="escolha_p24" value="S"/> Treinamento<br/>
				e) <input type="checkbox" name="escolha_p24" value="S"/> Diversos serviços<br/>		
			</span>
		</div>
			
		<div class="pergunta">
			<span class="perg">24) Se utiliza, com que freqüência?</span><br/>
			<span class="resp">
				a) <input type="radio" name="escolha_p25" value="S"/> Quinzenal<br/>
				b) <input type="radio" name="escolha_p25" value="S"/> Mensal<br/>
				c) <input type="radio" name="escolha_p25" value="S"/> Anual<br/>
				d) <input type="radio" name="escolha_p25" value="S"/> Não utilizo<br/>		
			</span>
		</div>
			
		<div class="pergunta">
			<span class="perg">25) Sua família utiliza a estrutura do SEST/SENAT?</span><br/>
			<span class="resp">
				a) <input type="radio" name="escolha_p26" value="S"/> Sim, utiliza<br/>
				b) <input type="radio" name="escolha_p26" value="S"/> Não utiliza<br/>
				c) <input type="radio" name="escolha_p26" value="S"/> Não sei o que é SEST/SENAT<br/>
			</span>
		</div>
			
		<div class="pergunta">
			<span class="perg">26) Você sabe para qual finalidade sua família utiliza a estrutura do SEST SENAT?</span><br/>
			<span class="resp">
				a) <input type="checkbox" name="escolha_p27 " value="S"/> Lazer<br/>
				b) <input type="checkbox" name="escolha_p27" value="S"/> Serviços médicos<br/>	
				c) <input type="checkbox" name="escolha_p27" value="S"/> Serviços odontológicos<br/>
				d) <input type="checkbox" name="escolha_p27" value="S"/> Treinamento<br/>
				e) <input type="checkbox" name="escolha_p27" value="S"/> Diversos serviços<br/>
				f)&nbsp; <input type="checkbox" name="escolha_p20" value="S"/> Não sei.<br/>		
			</span>
		</div>
			
		<div class="pergunta">
			<span class="perg">27) Se sua família utiliza a estrutura do SEST SENAT, você sabe a frequência?</span><br/>
			<span class="resp">
				a) <input type="radio" name="escolha_p28" value="S"/> Quinzenal<br/>
				b) <input type="radio" name="escolha_p28" value="S"/> Mensal<br/>
				c) <input type="radio" name="escolha_p28" value="S"/> Anual<br/>
				d) <input type="radio" name="escolha_p28" value="S"/> Não sei<br/>
			</span>
		</div>
		<input type="button" onclick="EnviarQuestionario();" value="Enviar Questionário"/>	
	</form>
 </div>	
<script type="text/javascript">
    function EnviarQuestionario() {
        console.log('#Questionario');
    }
</script>