@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Usuário";
    
}
<br />
<h2>Usuário (<a href="javascript:;" id="openFrmCadastrarUsuario">Cadastrar Novo</a>)</h2><br /> 
<input type="hidden" id="nextID" name="nextID"/>
<input type="hidden" id="Entidade" name="Entidade"/>
<table class="grid">
    <thead>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Login</td>
            <td>Ações</td>
        </tr>
    </thead>
    <tbody id="lista">
      
    </tbody>
</table>
<script src="~/Scripts/jsUI/app.js"></script>
<script type="text/javascript">
    var tipo_usuario = 1;
    App.ListarUsuarios(tipo_usuario);
</script>